<!DOCTYPE html>
<html>
<head>
  <title>BigosTwitterBox</title>
  <%= stylesheet_link_tag    "bigos_twitter_box/application", :media => "all" %>
  <%= javascript_include_tag "bigos_twitter_box/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
